---
const today = new Date();
---

<footer class="text-heading-main-light dark:text-paragraph-dark text-center text-clip my-4 text-lg flex flex-col sm:flex-row items-center justify-center space-x-2">
<p>	&copy; {today.getFullYear()} Jaime Suarez </p>{" "} <span class="text-sm sm:text-lg">{" "}Todos los derechos reservados.</span>
</footer>

